pipeline/PL_PrimarySalesPlanAOP_IN1674.json
{
	"name": "PL_PrimarySalesPlanAOP_IN1674",
	"properties": {
		"activities": [
			{
				"name": "Lookup for month",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select \nMax(cast('01-'+Month as date))as LsMonthdate\nfrom [Alcobev].[Primary_Sales_Plan_AOP]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSql_IN1674",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Alcobev",
							"TableName": "Primary_Sales_Plan_AOP",
							"databasename": "Trainer"
						}
					}
				}
			},
			{
				"name": "Script to delete",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup for month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"Database": "Target_ADF_B2025"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from [CKumaram].[Stg_Primary_Sales_Plan_AOP_IN1674] \nwhere \ncast \n('01-'+Month as date)='@{activity('Lookup for month').output.firstRow.LsMonthdate}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "SRC_STG"
		},
		"annotations": []
	}
}