pipeline/PL_PrimarySalesPlanAOP_IN1674.json
{
	"name": "PL_PrimarySalesPlanAOP_IN1674",
	"properties": {
		"activities": [
			{
				"name": "CD_SRC-TGT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script to delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "CreatedAt",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							},
							{
								"name": "UpdatedAt",
								"value": {
									"value": "null",
									"type": "Expression"
								}
							},
							{
								"name": "CreatedBy",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "UpdatedBy",
								"value": {
									"value": "null",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select * from [Alcobev].[Primary_Sales_Plan_AOP]\nwhere cast('01-'+Month as Date)='@{activity('Lookup for month').output.firstRow.LsMonthdate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "select * from Primary_Sales_Plan_AOP \nwhere\ncast('01-'+Month as date ) = '@{activity('Lookup for month').output.firstRow.LsMonthdate}'",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StateCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StateCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Month",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SKUCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SKUCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BrandPackType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BrandPackType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BrandPackSize",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BrandPackSize",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BrandCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BrandCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedMonth",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedMonth",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Plan Qty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Plan Qty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedAt",
									"type": "String"
								},
								"sink": {
									"name": "CreatedAt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UpdatedAt",
									"type": "String"
								},
								"sink": {
									"name": "UpdatedAt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UpdatedBy",
									"type": "String"
								},
								"sink": {
									"name": "UpdatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSql_IN1674",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Alcobev",
							"TableName": "Primary_Sales_Plan_AOP",
							"databasename": "Trainer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSqlTarget_IN1674",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "CKumaram",
							"Table": "Stg_Primary_Sales_Plan_AOP_IN1674",
							"Database": "Target_ADF_B2025"
						}
					}
				]
			},
			{
				"name": "Lookup for month",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select \nMax(cast('01-'+Month as date))as LsMonthdate\nfrom [Alcobev].[Primary_Sales_Plan_AOP]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSql_IN1674",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Alcobev",
							"TableName": "Primary_Sales_Plan_AOP",
							"databasename": "Trainer"
						}
					}
				}
			},
			{
				"name": "Script to delete",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup for month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"Database": "Target_ADF_B2025"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from [CKumaram].[Stg_Primary_Sales_Plan_AOP_IN1674] \nwhere \ncast \n('01-'+Month as date)='@{activity('Lookup for month').output.firstRow.LsMonthdate}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "SRC_TRG"
		},
		"annotations": []
	}
}