pipeline/PL_RowCount.json
{
	"name": "PL_RowCount",
	"properties": {
		"activities": [
			{
				"name": "LK_SRC_rowcount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_IN1685",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Alcobev",
							"Table": "ActivationMapping",
							"DB_Name": "Trainer"
						}
					}
				}
			},
			{
				"name": "LK_STG_rowcount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SETsrc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_IN1685",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "RRamesh",
							"Table": "stg_ALC_ActivationMapping_IN1685",
							"DB_Name": "Target_ADF_B2025"
						}
					}
				}
			},
			{
				"name": "SETsrc",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LK_SRC_rowcount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SRC_row_count",
					"value": {
						"value": "@activity('LK_SRC_rowcount').output.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SETstg",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LK_STG_rowcount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STG_row_count",
					"value": {
						"value": "@activity('LK_STG_rowcount').output.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IFrowcount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SETstg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('SRC_row_count'), variables('STG_row_count'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FAILrowcount",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Row count mismatch",
								"errorCode": "ERROR1"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WAITrowcount",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			}
		],
		"variables": {
			"SRC_row_count": {
				"type": "Integer"
			},
			"STG_row_count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Testing_SRC_STG"
		},
		"annotations": []
	}
}